{
    "bytengine": {
        "authentication": {
            "plugin": "mongodb",
            "addresses":["localhost:27017"],
            "authdb":"",
            "username":"",
            "password":"",
            "timeout":60
        },
        "filesystem": {
            "plugin": "mongodb",
            "addresses":["localhost:27017"],
            "authdb":"",
            "username":"",
            "password":"",
            "timeout":60
        },
        "statestore": {
            "plugin": "redis",
            "address": "localhost:6379",
            "password": "",
            "timeout": 60,
            "database": 1
        },
        "bytestore": {
            "plugin": "diskv",
            "rootdir":"/tmp/bytengine_bst",
            "cachesize":1
        },
        "datafilter": {
            "plugin": "core"
        },
        "parser": {
            "plugin": "base"
        }
    },
    "workers": 2,
    "port": 8500,
    "address": "localhost",
    "timeout": {
        "authtoken": 60,
        "uploadticket": 60
    }
}
