<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{{ page_title }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="keywords" content="bytlets, bytengine, json, data storage, content management, rest api, nosql, no-sql, mongodb, redis, python,{{ page_keywords }}">
        <meta name="description" content="{{ page_description }}">
        <meta name="author" content="John Wilson">

        <link rel="shortcut icon" href="/static/img/favicon.ico">
        <link rel="stylesheet" href="/static/css/bootstrap.css">
        <link rel="stylesheet" href="/static/css/bootstrap-responsive.css">
        <link rel="stylesheet" href="/static/css/fonts/font.css">
        <link rel="stylesheet" href="/static/css/codemirror.css" >
        <link rel="stylesheet" href="/static/css/custom.css" >
        {% block css_files %}{% endblock %}
            
        <!--[if lt IE 9]>
            <script type="text/javascript" src="static/js/html5.js"></script>
        <![endif]-->
        <style>{% block css_page %}{% endblock %}</style>
    </head>
    <body data-spy="scroll" data-target=".bs-docs-sidebar">
        {% if navbar %}
        <div class="navbar navbar-inverse navbar-fixed-top navbar-pilled">
            <div class="navbar-inner">
                <div class="container">
                    <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="brand" href="http://www.bytengine.com">Bytengine</a>
                    <div class="nav-collapse collapse">
                        <ul class="nav nav-pills">
                            {% for item in navbar %}
                                {% if item["name"] == navbar_active %}
                                    <li class="active">
                                        <a href="{{ item["url"] }}">{{ item["name"] }}</a>
                                    </li>
                                {% else %}
                                    <li class="">
                                        <a href="{{ item["url"] }}">{{ item["name"] }}</a>
                                    </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}    
        {% block page_content %}{% endblock %}
        
        {% if footer %}
        <footer class="footer"><div class="container"><p></p></div></footer>
        {% endif %}    
        <script type="text/javascript" src="/static/js/jquery.js"></script>
        <script type="text/javascript" src="/static/js/bootstrap/bootstrap.js"></script>
        {% block js_files %}{% endblock %}
        {% block page_js %}{% endblock %}
    </body>
</html>
