{% extends "base.html" %}
{% block css_files %}{% endblock %}
{% block page_content %}    
<div class="container"><!--container-->
    <div class="m-t-100 align_center">
        <h1>
            <span class="royal-blue-text">Byt</span><span class="light-blue-text">engine</span> Server
            <span style="font-size:16px; position:relative; top:-2px;"> &nbsp;[ALPHA]</span>
        </h1>
    </div>
    <div class="align_center"><img src="/static/img/logo.jpg" alt="" class=""/></div>
    <div class="align_center">
        <h3>
            <span>
                <a href="/commands">commands</a><span class="electric-blue-text">&nbsp;.&nbsp;</span>
            </span>
            <span>
                <a href="/docs">documentation</a><span class="electric-blue-text"></span>
            </span>
        </h3>
    </div>
</div><!--/container-->
{% endblock %}
{% block js_files %}{% endblock %}
{% block page_js %}{% endblock %}