{% extends "base.html" %}
{% block css_files %}
{% endblock %}
{% block page_content %}
<div class="container">
    <div class="row-fluid terminal_container">            
        <div class="span12" id="ctrlTerminal">
        </div>            
    </div>
</div>
<div id="expanded_input" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">            
    <div class="modal-body">
        <form>
            <textarea class="" class="codemirrorTextarea" id="codemirrorTextarea"></textarea>
        </form>
    </div>        
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal">Close</button>
        <button id="btnCodeMirrorSave" class="btn btn-primary">Save changes</button>
    </div>
</div>

<script type="text/template" id="template_ctrlTerminal">            
    <div class="terminal_command_input">
        <form class="" action="" method="" >
            <div class="row-fluid">
                
                <div class="" style="float: left;">                    
                    <a title="Undock Input" id="btnUndockInputBox" class="view_large_input btn" href="javascript:void(0);" style="height: 22px;">
                        <span class=""></span>
                    </a>                    
                </div>
                
                <div id="inputViewport" class="terminal_viewport">                    
                </div>
                <div class="">                    
                    <input id="btnRunCommand" class="btn royal-blue-text" type="submit" value="Run" style="height: 32px; margin-right: 2px;">                        
                </div>
                
            </div>  
            
        </form>
    </div>
    <div class="terminal_display_results" id="ctrlScreen">
    <br/><br/>
    <h3 class="align_center">Type <span class="light-blue-text">'help'</span> and click 'Run'! (or hit Enter) to get list of server commands</h3><br/>
    <h4 class="align_center"><span class="light-blue-text">'help command' + Enter => Help for specified command</span></h4><br/>
    <h4 class="align_center"><span class="light-blue-text">'cls' + Enter => Clear terminal screen</span></h4><br/>
    <h4 class="align_center"><span class="light-blue-text">'history' + Enter => Show command history</span></h4><br/>
    <h4 class="align_center"><span class="light-blue-text">'login username password' + Enter => Login into Bytengine</span></h4>
    </div>
    
</script>
<script type="text/template" id="template_error">
    <div class="display_block span10">
        <div class ="g">                            
            <div class="error">
                <h4 class="title"><%= title %></h4>
                <p><%= data %></p>  
            </div>
        </div>
    </div>            
</script>

<script type="text/template" id="template_ctrlCommand">
    <div class='command_container span12' id='command_<%= _id %>'>
        <p><%= request %></p>
    </div>                  
</script>

<script type="text/template" id="template_command_response">        
    <div class="inner_block span10">                    
        <div class="row-fluid">                        
            <div class="span12">            
            <pre><%= data %></pre>
            </div>                     
        </div>                    
    </div>
</script>

<script type="text/template" id="template_info">
    <div class="display_block span10">
        <div class ="g">                            
            <div class="info">
                <h4 class="title">Info</h4>
                <p><%= data %></p>  
            </div>
        </div>
    </div>
</script>

<script type="text/template" id="template_help">
    <div class="inner_block span10">
        <%= data %>
    </div>
</script>

<script type="text/template" id="template_helpall">
    <div class="inner_block span10">
        <% _.each(data, function(item, key) { %>
        <h4 class="title"><span style="color: #E21355"><%= key %> commands:</span></h4>
        <ul class="list_horizontally">
        <% _.each(item, function(cmd) { %>            
            <li class="command"><%= cmd %></li>            
        <% }); %>
        </ul>
        <br style="clear: both;"/>
        <% }); %>
    </div>
</script>

<script type="text/template" id="template_history">
    <div class="inner_block span10">        
        <% _.each(data, function(item) { %>            
            <pre><%= item.get("request") %></pre>
        <% }); %>
    </div>
</script>
{% endblock %}
{% block js_files %}
<script type="text/javascript" src="/static/js/backbone/underscore_min.js"></script>
<script type="text/javascript" src="/static/js/bootstrap/bootstrap-transition.js"></script>
<script type="text/javascript" src="/static/js/bootstrap/bootstrap-modal.js"></script>
<script type="text/javascript" src="/static/js/bootstrap/bootstrap-dropdown.js"></script>
<script type="text/javascript" src="/static/js/codemirror/codemirror.js"></script>
<script type="text/javascript" src="/static/js/bytengine/bescript.js"></script>
<script type="text/javascript" src="/static/js/backbone/json2.js"></script>
<script type="text/javascript" src="/static/js/backbone/underscore_min.js"></script>
<script type="text/javascript" src="/static/js/backbone/backbone_min.js"></script>
<script type="text/javascript" src="/static/js/bytengine/terminal.js"></script>
{% endblock %}
{% block page_js %}{% endblock %}